<!DOCTYPE html>
<html lang="en">
<head>
    <title>Wikipedia Daily Crossword</title>
    <style>
        /* no clue what autocomplete did here */
        .crossword {
            border-collapse: collapse;
            margin: 20px auto;
        }
        .crossword td {
            width: 40px;
            height: 40px;
            border: 1px solid #000;
            text-align: center;
            vertical-align: middle;
            font-size: 18px;
        }
    </style>
</head>
<body>
    <!--todo: make it crossword use a grid of a square/rectangle and for the unused squares don't color them black, make the not-visible as im dumb at layout-->
    <table class="crossword">
        <tr>
            <td>a</td>
             <td>b</td>
        </tr>
         <tr>
            <td>c</td>
        </tr>
    </table>
</body>
</html>